 @import url('https://fonts.googleapis.com/css?family=Play');
   
* {
    font-family: 'Play', sans-serif;
}

.header {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.7);

}

.header_main {
    background: url("/static/images/banner.jpg");
     background-position: bottom;
     background-size: 50%;
     height: 100%;
     display:block;
     overflow: auto;
}

.sidenav {

}

table {
    width: 100%;
    text-align:center;
}

.single_log td {
    padding: 16px; 
}

.logs_index td {
    padding: 5px;
}

.logs_index td a {
    display: block; 
    padding: 16px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #333;
    color: white;
    text-decoration:none;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none;
}

.content {
    padding: 20px;
}

.logs_index td a:hover {
    
    background-color: #111;
}

body {margin: 0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
