{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<h1>Што е LoggingSystem?</h1>
<p>LoggingSystem е вашиот пријател при евидентирање на продажби или услуги кои ги нудите на вашите ценети потрошувачи.<br>
LoggingSystem ви нуди комплетно решение за евидентирање на информации за потрошувачите како и продукт или услуга која ја добиле.<br>
Системот автоматски ја зачувува датата и внесените податоци за потоа истите да можат да бидат прегледани или испечатени.
</p>
<hr>

<h1>Зошто да го одберам LoggingSystem?</h1>
<p>
1. LoggingSystem е 100% безбеден и сите внесени податоци се чуваат во приватност.<br>
2. LoggingSystem е достапен во три јазици: Македонски, Албански, Англиски.<br>
2. LoggingSystem е лесен за употреба.<br>
3. LoggingSystem нуди опција за персонализација така што изгледа како да е наменет само за вас.<br>
4. LoggingSystem е евтин.<br>
5. LoggingSystem е достапен на сите платформи (Windows, Mac, Linux, Android, iOS, Windows Phone). <br>
</p>
<hr>

<h1>Триесет-дневен тест период?</h1>
<p>LoggingSystem ви нуди 30 дена бесплатно користење и доколку сметате дека оваа алатка ви е потребна за вашиот бизнис истата може да ја користите по пристапна цена.</p>
<hr>
<p>За информации и тест период испратете електронска пошта со вашето име и телефонски број на: stojchevski0@gmail.com</p>
<br>
<p>Ви благодариме. </p>

{% endblock %}
