{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>Logging System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

    <header class="">
		<div class="settings-link">
            {% if user.profile.company_logo %}
            <a href="{% url 'home:index' %}"><img class="logo" src="{{ MEDIA_URL }}{{ user.profile.company_logo }}" /></a>
            {% elif user.profile.company_name %}
            <a href="{% url 'home:index' %}" class="logo" style="text-decoration: none;"><h1>{{ user.profile.company_name }}</h1></a>
            {% else %}
            <a href="{% url 'home:index' %}" class="logo" style="text-decoration: none;"><h1>Logging System</h1></a>
            {% endif %}
        </div>

        <div class="topnav" id="myTopnav">
	        {% if user.is_authenticated %}
	        <a href="{% url 'logs:list_logs' %}">{% trans 'List Logs' %}</a>
	        <a href="{% url 'logs:new_log' %}">{% trans 'New Log' %}</a>
	        <a href="{% url 'home:account_logout' %}" style="float: right;">{% trans 'Logout' %}</a>
            <a href="{% url 'home:account_info' %}" style="float: right;">{{ user }}</a>
	        {% if user.is_superuser %}
	        <a href="/admin" style="float: right;">{% trans 'Admin Panel' %}</a>
	        {% endif %}
	        {% else %}
	        <a href="{% url 'home:about_us' %}">{% trans 'What is Logging System?' %}</a>
	        <a href="{% url 'home:account_login' %}" style="float: right;">{% trans 'Login' %}</a>
		{% endif %}
            <a href="javascript:void(0);" class="icon" onclick="meni()">&#9776;</a>

        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

	<footer>
	</footer>

<script src="{% static 'js/menu.js' %}"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>

</html>
