{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Logging System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    
    <ul class="sidenav">
        <div class="header_main">
        <h1 class="header">Logging System</h1>
        {% if user.is_authenticated %}
        <h2 class="header">Добредојде, {{ user.username }}!</h2>
        </div>
        <li><a href="/logs">Сите Записи</a></li>
        <li><a href="/">Нов запис</a></li>
        <li style="float:right;"><a href="/logout">Одјава</a></li>
        {% else %}
        <h2 class="header">Најавете се да ги користите услугите.</h2>
        {% endif %}
        {% if user.is_superuser %}
        <li style="float:right;"><a href="/admin">Администраторски панел</a></li>
        {% endif %}
    </ul>
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>
