{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<h3>{% trans 'Welcome' %},
{% if request.user.get_full_name %}
{{ request.user.get_full_name }}!
{% else %}
{{ request.user }}!
{% endif %}
</h3>

<h1>{% trans 'Statistics' %}</h1>
<div class="info" style="border-top: dashed 1px gray;">
    <label>{% trans 'Total Income:' %}</label>
    <label class="value">{{ total_price }}</label>
</div>
<div class="info">
    <label>{% trans 'Total Logs:' %}</label>
    <label class="value">{{ total_data }}</label>
</div>
<div class="info">
    <label>{% trans 'Date Joined:' %}</label>
    <label class="value">{{ date_joined }}</label>
</div>
<div class="info">
    <label>{% trans 'Days Registered:' %}</label>
    <label class="value">{{ days_registered }}</label>
</div>

<div class="columns">
<a href="{% url 'logs:backup_logs' %}">{% trans 'DOWNLOAD DATA' %}</a>
<a href="{% url 'home:about_us' %}">{% trans 'ABOUT US & CONTACT' %}</a>
</div>
{% endblock %}
