{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<h1 class="header">{{ data.name }}</h1>
    
<div class="single_log">
<ul>
<li>{% trans 'Date: ' %}<p>{{ data.timestamp }}</p></li>
<li>{% trans 'Phone: ' %}<p>{{ data.contact }}</p></li>
<li>{% trans 'Manufacturer: ' %}<p>{{ data.manufacturer }}</p></li>
<li>{% trans 'Model: ' %}<p>{{ data.model }}</p></li>
<li>{% trans 'Price: ' %}<p>{{ data.price }}</p></li>
<li>{% trans 'Description: ' %}<p>{{ data.description }}</p></li>
</ul>
</div>
<div class="columns">
<a href="" onclick="window.print();">{% trans 'PRINT' %}</a>
<a href="/logs/{{ data.id }}/modify">{% trans 'MODIFY' %}</a>
<a href="/logs/{{ data.id }}/delete">{% trans 'DELETE' %}</a>
</div>

{% endblock %}
