{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<h1 class="header">{{ data.name }}</h1>
    
<table>
<tr>
    <td class="table_left">{% trans 'Date: ' %}</td>
    <td class="table_right">{{ data.timestamp }}</td>
</tr>
<tr>
    <td class="table_left">{% trans 'Phone: ' %}</td>
    <td class="table_right">{{ data.contact }}</td>
</tr>
<tr>
    <td class="table_left">{% trans 'Manufacturer: ' %}</td>
    <td class="table_right">{{ data.manufacturer }}</td>
</tr>
<tr>
    <td class="table_left">{% trans 'Model: ' %}</td>
    <td class="table_right">{{ data.model }}</td>
</tr>
<tr>
    <td class="table_left">{% trans 'Price: ' %}</td>
    <td class="table_right">{{ data.price }} мкд</td>
</tr>
<tr>
    <td class="table_left">{% trans 'Description: ' %}</td>
    <td class="table_right">{{ data.description }}</td>
</tr>
</table>
    

<div class="columns">
<a href="" onclick="window.print();">{% trans 'PRINT' %}</a>
<a href="/logs/{{ data.id }}/modify">{% trans 'MODIFY' %}</a>
<a href="/logs/{{ data.id }}/delete">{% trans 'DELETE' %}</a>
</div>

{% endblock %}
