{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
{% get_language_info for user.profile.language as lang %}
<h1>{% trans 'Profile' %}</h1>
<div class="info" style="border-top: dashed 1px gray;">
    <label>{% trans 'Username: ' %}</label>
    <label class="value">{{ user.username }}</label>
</div>
<div class="info">
    <label>{% trans 'Full Name: ' %}</label>
    <label class="value">{{ user.get_full_name }}</label>
</div>
<div class="info">
    <label>{% trans 'Language: ' %}</label>
    <label class="value">{{ lang.name_local }}</label>
</div>
<div class="info">
    <label>{% trans 'Company Name: ' %}</label>
    <label class="value">{{ user.profile.company_name }}</label>
</div>
{% if user.profile.company_logo %}
<div class="info">
    <label>{% trans 'Logo: ' %}</label>
    <label class="value"><a href="{{ MEDIA_URL }}{{ user.profile.company_logo }}">{% trans 'Link' %}</a></label>
</div>
{% endif %}
<div class="info">
    <label>{% trans 'Bio: ' %}</label>
    <label class="value">{{ user.profile.about_company }}</label>
</div>

<div class="columns">
<a href="{% url 'home:account_update' %}">{% trans 'UPDATE' %}</a>
</div>
{% endblock %}
