{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
{% get_language_info for user.profile.language as lang %}

<div class="single_log">
<ul>
  <li>{% trans 'Username: ' %}<p>{{ user.username }}</p></li>
  <li>{% trans 'Full Name: ' %}<p>{{ user.get_full_name }}</p></li>
    <li>{% trans 'Language: ' %}<p>{{ lang.name_local }}</p></li>
    <li>{% trans 'Company Name: ' %}<p>{{ user.profile.company_name }}</p></li>
    {% if user.profile.company_logo %}
    <li>{% trans 'Logo: ' %}<a href="{{ MEDIA_URL }}{{ user.profile.company_logo }}"><p>{{ user.profile.company_logo }}</p></a></li>
    {% endif %}
    <li>{% trans 'Bio: ' %}<p>{{ user.profile.about_company }}</p></li>
</ul>


</div>
<div class="columns">
<a href="{% url 'home:account_update' %}">{% trans 'UPDATE' %}</a>
</div>
{% endblock %}
