{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h2>{% trans 'Registration:' %}</h2>
  <center><form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p style="width: 50%;">
        {{ field.label_tag }}<br>
        <p >{{ field }}</p>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">{% trans 'REGISTER' %}</button>
  </form></center>
{% endblock %}
