{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h1 class="header">{{ data.name }}</h1>

<div class="single_log">
<ul>
<li>Дата: {{ data.timestamp }}</li>
<li>Контакт телефон: {{ data.contact }}</li>
<li>Производител: {{ data.manufacturer }}</li>
<li>Модел: {{ data.model }}</li>
<li>Цена: {{ data.price }}</li>
<li>Опис: {{ data.description }}</li>
</ul>
</div>
<div class="columns">
<a href="" onclick="window.print();">Испечати</a>
<a href="/logs/{{ data.id }}/delete">Избриши</a>
</div>

{% endblock %}
