<table>
	<tr>
		<td>ID:</td>
		<td>{{ data.id }}</td>
	</tr>
	<tr>
		<td>Дата:</td>
		<td>{{ data.timestamp }}</td>
	</tr>
	<tr>
		<td>Регистрација:</td>
		<td>{{ data.name }}</td>
	</tr>
	<tr>
		<td>Контакт телефон:</td>
		<td>{{ data.contact }}</td>
	</tr>
	<tr>
		<td>Производител:</td>
		<td>{{ data.manufacturer }}</td>
	</tr>
	<tr>
		<td>Модел</td>
		<td>{{ data.model }}</td>
	</tr>
	<tr>
		<td>Цена:</td>
		<td>{{ data.price }}</td>
	</tr>
	<tr>
		<td>Опис:</td>
		<td>{{ data.description }}</td>
	</tr>
</table>
